<app-section-headings heading="{{heading}}" sub_heading="{{sub_heading}}"></app-section-headings>
<div class="container-fluid my-2">
    <div class="container">
        <!-- <app-card class="my-2" heading="huhu" sub_heading="huhu" description="huhu" button_text="huhu" button_route="huh" media_content="hu" ></app-card> -->
        <app-card-list [cardlist]="card_list" ></app-card-list>
    </div>
    <app-section-headings heading="{{note_heading}}" sub_heading="{{note_sub_heading}}"></app-section-headings>

</div>