<section class="section-wrapper p-2 my-2" data-aos="zoom-in" data-aos-duration="300">
  <h2 class="section-title">{{ heading }}</h2>

  @if (sub_heading) {
    <div class="section-subheading">
      <p class="summary-text">{{ sub_heading }}</p>
    </div>
  }

  @if (Service_url) {
    <a
      matRipple
      [matRippleCentered]="false"
      [matRippleDisabled]="false"
      [matRippleUnbounded]="false"
      [matRippleRadius]="20"
      [matRippleColor]="'#ef4fa747'"
      class="service-link"
      [routerLink]="Service_url"
    >
      {{ Service_msg }}
    </a>
  }
</section>
